
<div class="bk-row  row  row__cards">
    <div class="bk-row__container  row__container row--padding  box-images">

        <div class="bk-zone  row__column  row__column--one-third  align--middle-center  tablet">

            {{widget('image', 'box-image-1', {
                'src': asset("images/image-2.jpg"),
                'alt': 'The alternate text',
                'fileName': 'Logo Image',
                'fileSize': 3,
                'imageSize': '132 x 31',
                'imageWidth': '700'
            })|raw}}

            <div class="box-image-container">

            <div class="box-title">

            {{widget('content', 'box-title-1', {
                content: '<h3>Adidas All White Mid-tops</h3>'
            })|raw}}

            </div>

            {{widget('content', 'box-text-1', {
                content: '<p>The name SAMIZDAT is Russian for “self-publish” and refers to the secretive publishing of banned literature, music and arts. SAMIZDAT was created by Yang Li to express a new category that shows music as a lifestyle. </p>'
            })|raw}}

        </div>

        </div>

        <div class="bk-zone  row__column  row__column--one-third  align--middle-center  tablet">

            {{widget('image', 'box-image-2', {
                'src': asset("images/image-3.jpg"),
                'alt': 'The alternate text',
                'fileName': 'Logo Image',
                'fileSize': 3,
                'imageSize': '132 x 31',
                'imageWidth': '700'
            })|raw}}

            <div class="box-image-container">

            <div class="box-title">

            {{widget('content', 'box-title-2', {
                content: '<h3>The NMDs Are Fire</h3>'
            })|raw}}

            </div>

            {{widget('content', 'box-text-2', {
                content: '<p>Fashion informed by an obsession with music and visual language. Inspired by bootleg and sub-cultures, offers a selected range of products including hoodies, T-shirts, totes, music and lifestyle merchandise.</p>'
            })|raw}}

            </div>

        </div>

        <div class="bk-zone  row__column  row__column--one-third  align--middle-center  tablet">

            {{widget('image', 'box-image-3', {
                'src': asset("images/image-4.jpg"),
                'alt': 'The alternate text',
                'fileName': 'Logo Image',
                'fileSize': 3,
                'imageSize': '132 x 31',
                'imageWidth': '700'
            })|raw}}

            <div class="box-image-container">

            <div class="box-title">

            {{widget('content', 'box-title-3', {
                content: '<h3>Primeknit Adidas Tubular</h3>'
            })|raw}}

            </div>

            {{widget('content', 'box-text-3', {
                content: '<p>The name SAMIZDAT is Russian for “self-publish” and refers to the secretive publishing of banned literature, music and arts. SAMIZDAT was created by Yang Li to express a new category that shows music as a lifestyle. </p>'
            })|raw}}

            </div>

        </div>

    </div>
</div>
